.hearder-logo{
    width: 200px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
    color:lightsteelblue;
    font:italic 60px  "Acadian" ;
    letter-spacing:12px;
}

.welcomeMsg{
    padding:0 50px;
    text-align: right;
    font:italic bolder 16px "yahei";
    color:lightsteelblue
}

.ant-layout-content.loginContent{
    padding: 20px 50px
}

.loginWelcome{
    text-align:left;
    font:italic bolder 16px;
    color:lightsteelblue;
    border-bottom:cornflowerblue solid 2px;
    margin-bottom: 15px;
  }

.loginMain{
    min-height:300px;
    text-align: center;
}

.loginMain > div{
    display:inline-block;
    vertical-align:middle;
}

.loginMain .ant-card{
    height:413px;
    vertical-align:middle;
    padding:60px 0;
}
