<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.product.dao.ProductDao">
   <resultMap type="com.xiaoke1256.orders.product.bo.Product" id="productMap">
       <id property="productCode" column="product_code" />
       <result property="productName" column="product_name" />
       <result property="productPrice" column="product_price" />
       <!-- <result property="storeNo" column="store_no" /> -->
       <result property="productStatus" column="product_status" />
       <result property="productIntro" column="product_intro" />
       <result property="insertTime" column="insert_time" />
       <result property="updateTime" column="update_time" />
       <association property="store" column="store_no" select="com.xiaoke1256.orders.product.dao.StoreDao.getByStoreNo"  >
       </association>
       <collection property="productTypes" column="product_code" select="com.xiaoke1256.orders.product.dao.ProductTypeDao.getTypesByProductCode" >
       </collection>
       <collection property="params" column="product_code" select="com.xiaoke1256.orders.product.dao.ProductParamDao.getByProductCode" >
       </collection>
   </resultMap>
   <select parameterType="string" id="getProductByCode" resultMap="productMap">
      select product_code, product_name, product_price, store_no, product_status, product_intro, insert_time, update_time
       from PRODUCT where product_code = #{id}
   </select>
   <!-- parameters:update_time,product_status  -->
   <select parameterType="map" id="queryModifed" resultMap="productMap">
      select product_code, product_name, product_price, store_no, product_status, product_intro, insert_time, update_time
       from PRODUCT 
       where product_status = #{productStatus}
       <if test="lastTime != null">
       		and update_time > #{lastTime}
       </if>
   </select>
</mapper>
