dl dt {float:left}

.title {text-align:center}

div.content {margin:10px auto;width:80%}

.center {text-align:center;margin: 0 auto}
.right {text-align:right}

.close-div img{position:relative;top:-7px;left:7px}

.buttonDiv {text-align:center;margin: 20px auto}

table.listTable {width:100%}

.dialog {background-color:#f8f8f9;z-index:1000;position: absolute; border: 1px solid #dddee1;border-radius: 10px;}
