dl dt {float:left}

.title {text-align:center}

div.content {margin:10px auto;width:80%}

.center {text-align:center;margin: 0 auto}

.buttonDiv {text-align:center;margin: 20px auto}

table.listTable {width:100%}