<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.thirdpay.payplatform.mapper.MerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaoke1256.thirdpay.payplatform.bo.Merchant">
        <id column="merchant_id" property="merchantId" />
        <result column="merchant_no" property="merchantNo" />
        <result column="merchant_name" property="merchantName" />
        <result column="default_acc_no" property="defaultAccNo" />
        <result column="insert_time" property="insertTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        merchant_id, merchant_no, merchant_name, default_acc_no, insert_time, update_time
    </sql>

</mapper>
