# 如果mysql数据库，由非k8s管理，则执行这段代码。
# Endpoints 对象手动指定地址（不推荐），适用于非 K8s 管理的外部服务。
apiVersion: v1
kind: Endpoints
metadata:
  name: orders-db
subsets:
  - addresses:
    - ip: 192.168.1.5
    - ip: 192.168.1.6
    - ip: 192.168.1.4
    - ip: 192.168.1.3
    ports:
    - port: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: orders-db
spec:
#  type: ExternalName
#  externalName: db1.orders.com
  ports:
  - port: 3306
    protocol: TCP