<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <base href="../">
    <title>orders welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/date_format.js" ></script>
    <link rel="stylesheet" type="text/css" title="default" href="css/style.css" />
    <script type="text/javascript">
      function getUrlParam(name) {
          var searchParams = new URLSearchParams(window.location.search);
          return searchParams.get(name);
      }
      $(function() {
        //var order_id = getUrlParam('order_id');
        //$('#context').text('Order ID: ' + order_id);
      });
    </script>
  </head>
  <body>
    <div>
      <h1>Pay Success!</h1>
      <img src="https://i.imgur.com/yYyYyYy.png" alt="">
      <div id="context" th:text="${order_id}" > </div>
    </div>
  </body>
</html>