<html>
  <head>
    <base href="../">
    <title>orders welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/date_format.js" ></script>
    <link rel="stylesheet" type="text/css" title="default" href="../../static/css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="content">
        <div id="error">
          <div id="error-message">
            <div id="error-title">
              <div id="error-title-text">
                Error
              </div>
            </div>
            <div id="error-description">
              <div id="error-description-text">
                <div id="error-description-text-line">
                  <div id="error-description-text-line-text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>