<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.product.dao.ProductParamDao">
	<resultMap type="com.xiaoke1256.orders.product.bo.ProductParam" id="productParamMap">
		<id property="paramId" column="param_id"/>
		<result property="productCode" column="product_code" />
		<result property="paramName" column="param_name" />
		<result property="paramValue" column="param_value" />
		<result property="paramDesc" column="param_desc" />
		<result property="showOrder" column="show_order" />
	</resultMap>
	<select parameterType="long" id="getById" resultMap="productParamMap">
		select * from product_param where param_id = #{id}
	</select>
	<select parameterType="string" id="getByProductCode" resultMap="productParamMap">
		select * from product_param where product_code = #{productCode} order by show_order
	</select>
</mapper>