<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.product.dao.StoreDao">
	<resultMap type="com.xiaoke1256.orders.product.bo.Store" id="storeMap">
		<id property="storeNo" column="store_no"/>
		<result property="storeName" column="store_name" />
		<result property="storeIntro" column="store_intro" />
		<result property="payType" column="pay_type" />
		<result property="payAccountNo" column="pay_account_no" />
		<result property="insertTime" column="insert_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	<sql id="baseColSql">
		store_no,store_name,store_intro,pay_type,pay_account_no,insert_time,update_time
	</sql>
	<select id="getByStoreNo" parameterType="string" resultMap="storeMap" >
		select 
		<include refid="baseColSql"></include>
		from store where store_no=#{id}
	</select>
	
	<select id="queryAllStores" resultMap="storeMap" >
		select store_no,store_name,store_intro,pay_type,pay_account_no,insert_time,update_time from store 
	</select>

	<insert id="saveStore">
        insert into store(<include refid="baseColSql"></include>) values
		(#{storeNo},#{storeName},#{storeIntro},#{payType},#{payAccountNo},#{insertTime},#{updateTime})
	</insert>
</mapper>