<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.member.dao.MemberDao">
   <select parameterType="string" id="getMemberByAccountNo" resultMap="memberMap">
      select member_id, account_no, nick_name, gender,intro, email, mobile_phone, insert_time, update_time, password
       from member where account_no = #{accountNo}
   </select>
   
   <select id="findAll" resultMap="memberMap">
      select member_id, account_no, nick_name, gender,intro, email, mobile_phone, insert_time, update_time, password
       from member 
   </select>
   
</mapper>
