<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    	http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/db.properties</value>
			</list>
		</property>
	</bean>
	<!-- 
	<jee:jndi-lookup id="dataSource" lookup-on-startup="true" jndi-name="${jpa.jndi_name}" />
 	-->
 	<!-- JNDI dataSource Configuration
 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> 
		<property name="driverClass" value="${jpa.connection.driver_class}"/> 
		<property name="jdbcUrl" value="${jpa.connection.url}"/> 
		<property name="user"  value="${jpa.connection.username}"/> 
		<property name="password" value="${jpa.connection.password}"/> 
	</bean> 
	--> 
		
	<bean id="persistenceUnitManager" class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<!-- <property name="dataSources">
			<map>
				<entry key="c3p0DataSourse" value-ref="dataSource" />
			</map>
		</property>
		<property name="defaultDataSource" ref="dataSource" /> -->
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
		<property name="persistenceUnitName" value="default" />
		<!-- <property name="dataSource" ref="dataSource" /> -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			<!-- 
				<property name="showSql" value="${jpa.showsql}" />
				<property name="databasePlatform" value="${jpa.dialect}" />
				 -->
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory
				</prop>
				<!-- 
				<prop key="c3p0.maxPoolSize">2000</prop>
				<prop key="c3p0.minPoolSize">5</prop>
				<prop key="c3p0.maxIdleTime">60</prop>
				<prop key="c3p0.min_size">5</prop>
				<prop key="c3p0.max_size">2000</prop>
				<prop key="c3p0.time_out">1800</prop>
				<prop key="c3p0.maxStatements">20</prop>
				<prop key="c3p0.maxStatements">2000</prop>
				<prop key="c3p0.idleConnectionTestPeriod">900</prop>
				<prop key="c3p0.acquireIncrement">2</prop>
				<prop key="c3p0.initialPoolSize">5</prop>
				<prop key="c3p0.acquireRetryAttempts">20</prop>
				<prop key="c3p0.acquireRetryDelay">1500</prop>
				<prop key="c3p0.autoCommitOnClose">true</prop>
				<prop key="c3p0.checkoutTimeout">500000</prop>
				<prop key="c3p0.numHelperThreads">40</prop>
				 -->
			</props>
		</property>
		<!-- 指定需要扫描的存在@Entity实体的包,并将扫描到的实体 添加到持久化单元 -->
		<property name="packagesToScan" value="com.tj.order" />
		 
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<!-- <property name="dataSource" ref="dataSource" /> -->
	</bean>
	
	<!-- 扫描注解的任务 -->
	<task:annotation-driven />
	
	<!-- 配置事务（给那些没有添加@Service注解的service使用,但是引用了其他service的,对数据库有操作） -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<context:component-scan base-package="com.xiaoke1256.orders">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
		
</beans>	