<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="F" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="E:/logs/trans_test.log" />
        <param name="MaxFileSize" value="5120KB" />
        <param name="MaxBackupIndex" value="3" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p]-[%l] -- %m%n" />
        </layout>
    </appender>
    
    <appender name="C" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{HH:mm:ss} %C{1}.%M(%L)-->%m%n"/>
        </layout>
    </appender>

    <logger name="com.wondersgroup" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="F" />
        <appender-ref ref="C" />
    </logger>
    
    <root>
        <level value="INFO" />
        <appender-ref ref="F" />
        <appender-ref ref="C" />
    </root>

</log4j:configuration>
