<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.product.dao.ProductTypeDao">
	<resultMap type="com.xiaoke1256.orders.product.bo.ProductType" id="productTypeMap">
       <id property="typeId" column="type_id" />
       <result property="typeName" column="type_name" />
       <result property="typeDesc" column="type_desc" />
       <result property="showOrder" column="show_order" />
       <result property="insertTime" column="insert_time" />
       <result property="updateTime" column="update_time" />
       <association property="parentType" column="parent_type_id" select="com.xiaoke1256.orders.product.dao.ProductTypeDao.getByTypeId"  >
       </association>
   </resultMap>
	<select parameterType="string" id="getTypesByProductCode" resultMap="productTypeMap">
      select t.type_id, t.type_name, t.parent_type_id, t.type_desc, t.show_order, t.insert_time, t.update_time
       from PRODUCT_TYPE t,type_product_map m where t.type_id=m.type_id and m.product_code = #{productCode} 
       order by t.show_order
   </select>
   
   <select id="getByTypeId" parameterType="string" resultMap="productTypeMap" >
     select t.type_id, t.type_name, t.parent_type_id, t.type_desc, t.show_order, t.insert_time, t.update_time
       from PRODUCT_TYPE t where t.type_id = #{id}
   </select>
</mapper>