<?xml version="1.0" encoding="UTF-8"?>
 <configuration monitorInterval="30">
   <appenders>
     <console name="Console" target="SYSTEM_OUT">
       <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
     </console >
     <File name="log" fileName="logs/orders-search.log" append="false">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
     </File >
     <RollingFile name="RollingFile" fileName="/logs/orders-search.log" filePattern="/logs/orders-search-%d{yyyy-MM-dd}-%i.log">
             <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
             <Policies>
                 <TimeBasedTriggeringPolicy/>
                 <SizeBasedTriggeringPolicy size="100 MB"/>
             </Policies>
             <DefaultRolloverStrategy max="20"/>
     </RollingFile>
   </appenders>
   
   <Loggers>
     <Root level="INFO" additivity="false">
       <AppenderRef ref="Console"/>
     </Root>
     <logger name="org.springframework" level="INFO" additivity="false">
     </logger>
     <logger name="org.mybatis" level="INFO" additivity="false">
     </logger>
     <logger name="com.xiaoke1256.orders" level="DEBUG" additivity="false">
     	<appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
     </logger>
   </Loggers>
 </configuration>