<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.search.dao.EsCollectLogsDao">
   <select parameterType="long" id="getLogById" resultType="com.xiaoke1256.orders.search.bo.EsCollectLogs">
      select *
       from ES_COLLECT_LOGS where log_id = #{id}
   </select>
   
   <select id="getLastExeTime" resultType="timestamp" >
      select max(exe_time) from ES_COLLECT_LOGS 
   </select>
 
</mapper>
