<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoke1256.orders.search.dao.ProductDao">
   <select id="getProductByCode" resultType="com.xiaoke1256.orders.search.bo.Product">
      select * from PRODUCT where product_code = #{productCode}
   </select>
</mapper>
